<section>
  <div class="page-header">
    <h1>{{vm.customQuestion() ? 'Change your question for ' : 'Add a new question for '}}{{vm.date('dddd')}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.questionForm" class="form-horizontal" ng-submit="vm.saveQuestion(vm.form.questionForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group">
          <label class="control-label" for="question">{{vm.date('dddd, MMMM Do YYYY')}}</label>
          <input name="question" type="text" ng-model="vm.customQuestion()" id="question" class="form-control"
          placeholder="What would you like your students to ask their parents?" required>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.customQuestion() ? 'Submit' : 'Add'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
