<section ng-controller="HomeController">
  <div class="jumbotron text-center homepage-background">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <h1>HWYD</h1>
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        Connecting kids, parents, and teachers! {{blah}}
      </p>
    </div>
    <div class="row">
      <hr><br><br>
      <h3>DEMO: Parent signup:</h3>
      <a href="/schools/2a0000000000000000000001/signup" class="btn btn-primary">
        Montgomery School
      </a> &nbsp;
      <a href="/schools/2a0000000000000000000001/signup" class="btn btn-primary disabled">
        School #2
      </a> &nbsp;
      <a href="/schools/2a0000000000000000000001/signup" class="btn btn-primary disabled">
        School #3
      </a> &nbsp;

      <br>
      <hr><br><br>
      <h3>DEMO: Teacher can add new custom question on:</h3>
      <span ng-repeat="d in dates">
        <a href="/q/1a0000000000000000000001/{{d.ms}}" class="btn btn-default">
          {{d.pretty}}
        </a> &nbsp;
      </span>

    </div>
  </div>

</section>
