<section>
  <div class="page-header">
    <h1 ng-bind="vm.customquestion.message"></h1>
    <h3 ng-bind="vm.customquestion.date"></h3>
    <h3 ng-bind="vm.customquestion.teacher[0].name"></h3>
  </div>
  <div class="pull-right"
       ng-show="vm.customquestion.isCurrentUserOwner">
    <a class="btn btn-primary"
       ui-sref="customquestions.edit({ customquestionId: vm.customquestion._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Created
      <span ng-bind="vm.customquestion.createdAt | date:'mediumDate'"></span>
      by
      <span ng-if="vm.customquestion.user"
            ng-bind="vm.customquestion.user.displayName"></span>
      <span ng-if="!vm.customquestion.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.customquestion.content"></p>
</section>
